$black = #3f3f43;
$grey  = #7f7f85;
$green = #3fba53;
$white = #efeff3;

body {
  font-family: sans-serif;
}
.no-children {
  color: $black;
}
.has-children {
  color: $green;

  &:after {
    content: '+';
    display: inline-block;
    position: relative;
    height: 100%;
    width: 20px;
  }
}

.item {
  cursor: pointer;
  margin-bottom: 5px;
  .level {
    background: $grey;
    border-radius: 1000px;
    box-sizing: border-box;
    color: $white;
    display: inline-block;
    font-size: 12px;
    height: 20px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    padding-top: 3px;
    vertical-align: bottom;
    width: 20px;
  }
  .max-levels {
    background: $grey;
    border-radius: 1000px;
    box-sizing: border-box;
    color: $white;
    display: inline-block;
    font-size: 12px;
    height: 20px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    padding-top: 3px;
    vertical-align: bottom;
    width: 20px;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0 0 0 15px;
  text-indent: 0;

  li {
    text-indent: 0;
  }
}
